[submodule "covid-19-data"]
	path = data-sources/nytimes-data
	url = https://github.com/nytimes/covid-19-data
[submodule "data-sources/jhu-data"]
	path = data-sources/jhu-data
	url = https://github.com/CSSEGISandData/COVID-19
[submodule "data-sources/gtown-vax"]
	path = data-sources/gtown-vax
	url = https://github.com/bansallab/vaccinetracking
